@charset "UTF-8";




/* 
以下のCSSは「リセットCSS」といいます。
各ブラウザには最初から一部CSSの値が設定されており、それをリセットして見栄えを統一するために使われます。
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Zen Kaku Gothic New", "Manrope", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-bottom: 30px;
  font-weight: 500;
  background-color:#F0EDE4 ;
  font-size: 14px;
  color: #503C14;
  letter-spacing: 0.05em;

}

body.active{
  overflow: hidden;
}


img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
  color: #503C14;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* リセットCSS おわり */
p{
  color: #503C14;
}


#header {
  width: 100%;
  height: 100px;
  color: #A16803;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  top: 0px;
  z-index: 1; /* ヘッダーを前面に表示 */
  border-bottom: 1px solid #A16803;

}

#main {
  width: 100%;
  
}

.headerLogo {
  width: 135px;
}

.headerNavi{
margin: 0 0 0 auto;
}

<<<<<<< HEAD
.navigationBox{
=======
.navigationBox {
  font-size: 16px;
>>>>>>> parent of e3ab090 (👽️ 0814_修正完了)
  display: flex;
  gap:48px;
  
}

.navigationItem{
  color: #A16803;
  font-size: 18px;

}

<<<<<<< HEAD
.navigationItem:hover{
  color: #503C14;
  font-weight: 600;
  text-decoration:underline;
  
}

.keyVisualLogo{
text-align: right;
margin-top: 70px;

}


.keyVisualLogo img{
  width: 80%;

}

.loop{
  margin-top: 70px;
}


.workButton {
  margin:  100px auto;
  width: 280px;
  height: 51px;
  background:url(../img/workButton-01.png);
  background-size:cover;

}

.workButton:hover {
  margin:  100px auto;
  width: 280px;
  height: 51px;
  background:url(../img/workButton-02.png);
  background-size:cover;

}

=======
>>>>>>> parent of e3ab090 (👽️ 0814_修正完了)



#footer{
  border-top: 1px solid #A16803;
  border-bottom: 1px solid #A16803;

}


.footerNavi .navigationBox{
  display: flex;
  gap: 48px;
  justify-content: center;
  padding: 30px 0;

}

h1{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;


}

h1 p{
  font-size: 100px;
  font-family: "Manrope";
  color: #d1bc98;
  line-height: 0.8em;
  margin-top: 80px;
  margin-left: 80px;
 
}

<<<<<<< HEAD
.title-01{
  border-bottom: 5px solid #A16803;
=======
.reservationButton{
 background-color: #78781E;
 padding: 10px 15px;

}

.calenderButton{
  border: 1px solid #fff;
  padding: 10px 15px;
  margin-left: 15px;

}


.keyVisual{
  width: 100%;
  height: 768px;
  background-color: #78781E;
  background-image: url("../img/re-KV-1.jpg");
  background-repeat: no-repeat; /* 背景画像を繰り返し表示しません。 */
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
}


.keyVisualLogo {
  width: 182.02px;
  margin-left: 150px;
  padding-top: 269px;

}

.contentsBox01{
  width: 100%;
  background-image: url("../img/main_bg.jpg");
  background-repeat: no-repeat; /* 背景画像を繰り返し表示しません。 */
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin: 0 auto;

}

.contentsBox01Textwrap01{
  display: flex;
  justify-content: center;
  padding-top: 296px;
}

.contentsBox01Text01{
  font-size: 48px;
  line-height: 1.7;
  letter-spacing: 0.5em;
  writing-mode: vertical-rl;
  text-align: left;
}

.contentsBox01Text01.active{
  color: #78781E;

}

.contentsBox01Text02 {
  font-size: 14px;
  line-height: 2.8;
}

.contentsBox01Visual{
  margin: 80px auto 0px auto;
  width: 1177px;
}

.contentsBox01Movie{
  margin-top: 80px;
  padding-bottom: 100px;

}


.contentsBox02{
  text-align: center;
  padding: 100px 0 135px 0;
}

.contentsBox02Title{
  font-size: 36px;
  font-weight: bold;
  line-height: 150%;
}

.contentsBox02sub{
  font-size: 16px;
  color: #828282;
  margin-top: 10px;
  line-height: 150%;
  letter-spacing: 30%;
}


.contentsBox02Table{
  width: 1000px;
  margin: 55px auto 0px auto;
  text-align: left;
}

.tableRaw01{
  border-top:solid 1.5px #ccc;
  border-bottom:solid 1.5px #ccc;

}

.tableRaw02{
  border-bottom:solid 1.5px #ccc;

}



.tableDate01{
  width: 100px;
  display: inline-block;
  background-color: #78781E;
  text-align: center;
  color: #fff;
  letter-spacing: 0.2em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tableDate02{
  width: 108px;
  text-align: center;
  color: #888888;
  display: inline-block;
  margin-left: 50px;
}

.tableDate03{
  display: inline-block;
  margin-left: 50px;
}

.tableDate03:hover{
  color: #78781E;
  font-weight: 600;
}


.contentsBox03{
  text-align: center;
  background-color: #DDDDDD ;
  padding: 100px 0px 0px 0px;
>>>>>>> parent of e3ab090 (👽️ 0814_修正完了)
  position: relative;
  width: 80%;

<<<<<<< HEAD
  &::before {
    content: "";
=======
.contentsBox03wrap01{
  display: flex;
  justify-content: center;
}

.imageTextBox01{
  width: 480px;
  height: 562px;
  margin-top: 55px;
  
}

.popup01:hover img{
  transform: scale(1.05);
  opacity: 0.8;
  transition-duration: 0.5s;

}

.popup02:hover img{
  transform: scale(1.05);
  opacity: 0.8;
  transition-duration: 0.5s;

}


.Box01Contents{
  text-align: left;
  background-color: #fff;
  padding: 18px 13px;
}

.imageTextBox02{
  width: 480px;
  height: 562px;
  margin-top: 55px;
  margin-left:40px ;
  
}

.modal01{
  display: none;
}

.modalContent01{
  width: 450px;
  margin: 0 auto;
  position: relative;

}

.modal01.active{
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: fixed;
  top:0;
  left: 0;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  width: 100vw; /* ウィンドウ幅 */
  height: 100vh; /* ウィンドウ高さ */
  z-index: 2;

}


.modal02{
  display: none;
}

.modal02.active{
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: fixed;
  top:0;
  left: 0;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  width: 100vw; /* ウィンドウ幅 */
  height: 100vh; /* ウィンドウ高さ */
  z-index: 2;
  
}

.modalContent02{
  width: 450px;
  margin: 0 auto;
  position: relative;

}



.closeBtn{
  width: 25px;
  position: absolute;
  right: 0px;
  top: -35px;
}

.imageTextBoxTitle{
  font-size: 16px;
  color: #78781E;
  text-align: left;
}

.imageTextBoxDescription{
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}


.button01{
  font-size: 14px;
  color: #868686;
  text-align: right;
  margin-top: 10px;
  
}

.button01:hover{
    color: #78781E; /* 文字色を変更する */
    font-weight: 600;
}

.recommend01{
  width: 800px;
  margin: 80px auto 50px auto;
}

.recommend01Title{
  font-size: 22px;
  color: #78781E;
  font-weight: 400;
  
}

.recommend01Line{
  border-top: 1px solid #000;
  margin-top: 9px;
}

.recommend01Text01{
  margin: 30px auto;
	text-align: center;
	display: block;
}


.small{
  text-align: left;
  display: inline-block;
  color: #222;
  font-size: 10px;
}

.ctaWrap{
  display: flex;
}

.ctaWrapCta01{
  width: 50%;
  background-color: #78781E;
  color: #fff;
  padding: 30px 0px;

}

.ctaText01{
  font-size: 10px;
}

.ctaText02{
  font-size: 28px;
}

.ctaWrapCta02{
  width: 50%;
  background-color: #454545;
  color: #fff;
  padding: 30px 0px;
}

.ctaText03{
 font-size: 22px;
}


.service01{
  width: 100%;
  background-image: url("../img/nature 1.jpg");
  background-repeat: no-repeat; /* 背景画像を繰り返し表示しません。 */
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin: 15px auto;
  padding: 150px 0px;
}


.serviceTitle01{
  font-size: 48px;
  font-weight: 400;

}

.serviceTitle02{
  font-size: 16px;
  font-weight: 200;
}

.serviceText{
  font-size: 24px;
  margin-top: 55px;
}

.service02{
  width: 100%;
  background-image: url("../img/room 1.jpg");
  background-repeat: no-repeat; /* 背景画像を繰り返し表示しません。 */
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin: 15px auto;
  padding: 150px 0px;
}

.service03{
  width: 100%;
  background-image: url("../img/food 1.jpg");
  background-repeat: no-repeat; /* 背景画像を繰り返し表示しません。 */
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin: 15px auto;
  padding: 150px 0px;
}

.service04{
  width: 100%;
  background-image: url("../img/onsen 1.jpg");
  background-repeat: no-repeat; /* 背景画像を繰り返し表示しません。 */
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin: 15px auto;
  padding: 150px 0px;
}

.map {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 37.96%;    /*16:9の比率にしたい場合、9/16=56.25%*/
}

.map iframe {
>>>>>>> parent of e3ab090 (👽️ 0814_修正完了)
    position: absolute;
    bottom: -10px;
    border-bottom: 1px solid #A16803;
    width: 100%;
  }
}


.profile{
  display: flex;
  justify-content: space-between;
  width:1100px;
  margin: 70px auto;

  
}

.profileImage{
  width: 374px;
  height: 481px;

}


.profileText{
  width: 650px;
}

.ruby{
  color: #d1bc98;
  font-size: 13px;
  line-height: 1em;
  
}

.name{
  font-size: 23px;
  font-weight: 700;
  line-height: 1em;
  margin-top: 5px;
}

h3{
  padding: 0px 8px;/*上下 左右の余白*/
  color: #503C14;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 3px #503C14;/*左線*/
  font-size: 16px;
  line-height: 1em;
  margin-top: 30px;
  
}

.profileTextBlock ul{
  margin-top: 10px;
}

.profileTextBlock p{
  margin-top: 10px;
}



.profileList02{
  display: flex;
}

.profileList02 li{
  display: flex;
  padding-right: 10px;
}

.profileTimeline{
   font-weight: 700;

}

hr{
  margin-top: 30px;
}

/* Work ページ */
#workTitle{
  margin-top: 10px;
  background-color: #FBFAF6;
  
}

.page_top_btn{
position: fixed;
bottom: 10px;
right: 10px;
padding: 0.7em;
text-align: center;
color: #fff;
transition: 0.3s0;
}



.workNavigation{
  display: flex;
  gap:20px;
  
  
}

.workNavigationItem{
  color: #A16803;
  font-size: 16px;

}

.workNavigationItem:hover{
  color: #503C14;
  font-weight: 600;
  text-decoration:underline;
  
}




h2{
  position: relative;
  display: inline-block;
  padding: 0 210px;
  color: #A16803;
  font-size: 30px;
  vertical-align: middle;
  margin-top: 110px;
}

h2.title-02A::before {
  left: 0;
  margin-top: -5px;
 
}

h2.title-02A::before {
  position: absolute;
  top: 50%;
  content: '';
  display: inline-block;
  width: 200px;
  height: 10px;
  background: repeating-linear-gradient(90deg, #A16803,#A16803 5px, #FBFAF6 1px, #FBFAF6 10px)

}

h2.title-02B::before {
  left: 0;
  margin-top: -5px;
}


h2.title-02B::before {
  position: absolute;
  top: 50%;
  content: '';
  display: inline-block;
  width: 200px;
  height: 10px;
  background: repeating-linear-gradient(90deg, #A16803,#A16803 5px, #F0EDE4 1px, #F0EDE4 10px)

}



#workSection01{
  background-color: #FBFAF6;
  padding-bottom: 150px;
}

#workSection03{
  background-color: #FBFAF6;
  padding-bottom: 150px;
}

<<<<<<< HEAD


.workBlock01{
=======
.footerNavigation ul{
  font-size: 16px;
>>>>>>> parent of e3ab090 (👽️ 0814_修正完了)
  display: flex;
  justify-content: space-between;
  width:1100px;
  margin: 70px auto;

  
}

<<<<<<< HEAD
.workBlock02{
=======

.footerNavigation li+li{
  border-left: 2px solid #ccc; /* 区切り線 */
}

.footerNavigation a{
  display: block;
  padding: 0 50px;
  border-right: none;
  text-decoration: none;
  color: #333;
}

.footerBannerBox{
>>>>>>> parent of e3ab090 (👽️ 0814_修正完了)
  display: flex;
  justify-content: space-between;
  width:1100px;
  margin: 70px auto;

  
}

.workImage{
  margin-top: 30px;
  width: 650px;


}

<<<<<<< HEAD

.workText{
  width: 350px;
  
}


.workTextBox ul{
  margin-top: 10px;
}

.workTextBox p{
  margin-top: 10px;
}



.workeList02{
  display: flex;
}

.workList02 li{
  display: flex;
  padding-right: 10px;
}

.workTimeline{
   font-weight: 700;

}


.pageButton {
  margin-top: 30px;
  width: 160px;
  height: 45px;
  background:url(../img/pageButton-01.png);
  background-size:cover;

}

.pageButton:hover {
  margin-top: 30px;
  width: 160px;
  height: 45px;
  background:url(../img/pageButton-02.png);
  background-size:cover;

=======
.copyRight{
  margin-top: 65px;
>>>>>>> parent of e3ab090 (👽️ 0814_修正完了)
}

















