@charset "UTF-8";

/* 
以下のCSSは「リセットCSS」といいます。
各ブラウザには最初から一部CSSの値が設定されており、それをリセットして見栄えを統一するために使われます。
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* リセットCSS おわり */

#header {
  width: 100%;
  height: 100px;
  background-color:rgba(0,0,0,80%);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  position: fixed;
  z-index: 2; /* ヘッダーを前面に表示 */

}

.headerLogo {
  width: 135px;
}


.headerNavigation{
  margin-left: 55px;
}

.navigationBox {
  font-size: 16px;
  display: flex;
  gap: 48px;

}

.hederButtonWrap {
  font-size: 18px;
  display: flex;
  margin-left: auto;
 
}

.reservationButton{
background-color: #78781E;
padding: 10px 15px;

}

.calenderButton{
  border: 1px solid #fff;
  padding: 10px 15px;
  margin-left: 15px;

}


.keyVisual{
  width: 100%;
  height: 768px;
  background-color: #78781E;
  background-image: url("kv-1.jpg");
  background-repeat: no-repeat; /* 背景画像を繰り返し表示しません。 */
  background-size: cover;
  position: absolute;
  z-index: 1; /* ヘッダーを前面に表示 */
  top: 0;
  right: 0;
  left: 0;
  right: 0;
}


.keyVisualLogo {
  width: 182.02px;
  margin-left: 150px;
  padding-top: 269px;

}

